<% param_prefix = "payment_source[#{payment_method.id}]" %>

 <div class="payment-gateway-fields">
    <%= hidden_field_tag "#{param_prefix}[transaction_ref]", @order.number %>
    <% if @flutterwave_payment_source.present? %>
        <%= hidden_field_tag 'order[existing_flutterwave_checkout]', @flutterwave_payment_source.id %>
    <% end %>
    <%= hidden_field_tag "#{param_prefix}[status]","incomplete" %>
</div>

<style>
    .btn-flutterwave {
        padding-left: 1.6rem;
        padding-right: 1.7rem;
        background-color: #14132b;
        color: #fff;
    }
    .btn-flutterwave:hover {
        color: #fff;
        background-image: linear-gradient(to right,#14132b, #684c15);
    }
</style>

<button id="btn-flutterwave"  type="submit" class="btn btn-flutterwave">
    <div class="d-flex align-items-center justify-content-center" style="gap: 1rem;">
        <div>
            <%= inline_svg_tag "flutterwave_logo.svg", size: "48px*48px" %>
        </div>
        <span>Pay With Flutterwave</span>
    </div>
</button>