<form>
  <style>
  .btn-flutterwave {
    padding-left: 1.6rem;
    padding-right: 1.7rem;
    background-color: #14132b;
    color: #fff;
  }
  .btn-flutterwave:hover {
    color: #fff;
    background-image: linear-gradient(to right,#14132b, #684c15);
  }
  </style>
  <script src="https://checkout.flutterwave.com/v3.js"></script>
  <button id="btn-flutterwave"  type="submit" class="btn btn-flutterwave">
    <div class="d-flex align-items-center justify-content-center" style="gap: 1rem;">
      <div>
        <%= inline_svg_tag "flutterwave_logo.svg", size: "48px*48px" %>
      </div>
      <span>Pay Now</span>
    </div>
  </button>
</form>

<script>
  const button = document.querySelector("#btn-flutterwave");

  button.addEventListener("click", makePayment)

  function makePayment(event) {
    event.preventDefault()

    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-SANDBOXDEMOKEY-X",
      tx_ref: "RX1",
      amount: 10,
      currency: "USD",
      country: "US",
      payment_options: " ",
      redirect_url: // specified redirect URL
        "https://callbacks.piedpiper.com/flutterwave.aspx?ismobile=34",
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "cornelius@gmail.com",
        phone_number: "08102909304",
        name: "Flutterwave Developers",
      },
      callback: function (data) {
        console.log(data);
      },
      onclose: function() {
        // close modal
      },
      customizations: {
        title: "My store",
        description: "Payment for items in cart",
        logo: "https://assets.piedpiper.com/logo.png",
      },
    });
  }
</script>